* {
    font-family: 'Earwig Factory', arial;
    color:red;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    background-image: url("../images/TakeYourTime.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#animelogo {
    font-size: 60px;
    
}

#start-game {
font-size:50px;
letter-spacing: 4px;
}

p{
    font-size: 40px;
}

#guessed-letters{
    font-size: 40px;
}